.content {
  display: flex;
  justify-content: center;
  background-color: #353436;
  height: calc(100vh - 130px);
  width: 100%;
}
.content__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  width: 490px;
  z-index: 2;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  margin-top: calc((100vh - 190px)/2);
  margin-left: 710px;
}
.content__description__tittle {
  margin-bottom: 32px;
  font-family: "Playfair Display SC", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 22pt;
}
.content__description__body {
  padding-left: 30px;
}
.content__mobile__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: calc(100vh - 160px);
  width: 1200px;
  height: 250px;
  z-index: 3;
  transition: margin-top 0.3s linear;
}
.content__mobile__block-active {
  margin-top: calc(100vh - 350px);
}
.content__mobile__block__arrow-up {
  width: 100px;
  height: 40px;
  background-color: white;
  cursor: pointer;
}
.content__mobile__block__arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__mobile__block__arrow-icon img {
  transition: transform 0.1s linear;
}
.content__mobile__block__arrow-up-active img {
  transform: rotate(180deg);
}
.content__mobile__block__body {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 180px;
  background-color: red;
}
.content__mobile__block__content-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: #e2d1a6;
}
.content__mobile__block__content-left h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 20pt;
  margin: 0;
  padding-left: 16px;
}
.content__mobile__block__content-left p {
  font-size: 12pt;
  padding-left: 16px;
  padding-right: 16px;
}
.content__mobile__block__content-left a {
  padding-right: 15px;
  margin-left: auto;
}
.content__mobile__block__content-center {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: white;
}
.content__mobile__block__content-center h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 20pt;
  margin: 0;
  padding-left: 16px;
}
.content__mobile__block__content-center p {
  font-size: 12pt;
  padding-left: 16px;
  padding-right: 16px;
}
.content__mobile__block__content-center a {
  padding-right: 15px;
  margin-left: auto;
}
.content__mobile__block__content-right {
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: black;
}
.content__mobile__block__content-right h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 20pt;
  margin: 0;
  padding-left: 16px;
}
.content__mobile__block__content-right p {
  font-size: 12pt;
  padding-left: 16px;
  padding-right: 16px;
}
.content__mobile__block__content-right a {
  padding-right: 15px;
  margin-left: auto;
}

.slider {
  position: relative;
  width: 1200px;
  height: 100%;
}

.slider input[name=switch] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: 40px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.switch label {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: white;
}

#btn1:checked ~ .switch label[for=btn1] {
  background-color: #e2d1a6;
}

#btn2:checked ~ .switch label[for=btn2] {
  background-color: #e2d1a6;
}

#btn3:checked ~ .switch label[for=btn3] {
  background-color: #e2d1a6;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 1200px;
  height: calc(100vh - 130px);
  float: left;
}

#btn1:checked ~ slider-inner .slides {
  transform: translate(0);
}

#btn2:checked ~ .slider-inner .slides {
  transform: translate(-1200px);
}

#btn3:checked ~ .slider-inner .slides {
  transform: translate(-2400px);
}

/*# sourceMappingURL=content.css.map */
