$bgcolor: #353436;

.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 275px;
  background-color: $bgcolor;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    z-index: 3;
    background-color: $bgcolor;
  };
  &__description{
    display: flex;
    justify-content: space-between;
    height: 220px;
    width: 925px;
    color: #d7d7d7;
    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 50px;
      text-align: left;
      h1{
        font-family: "Playfair Display SC", serif;
        font-size: 14px;
        padding-top: 20px;
      }
      button{
        width: 184px;
        height: 31px;
        margin-top: 8px;
        background-color: black;
        color: white;
        border: none;
        outline: none;
        transition: color .3s linear, background-color .3s linear;
      }
      button:hover{
        background-color: white;
        color: black;
      }
      input{
        width: 184px;
        height: 31px;
        margin: 6px;
        border: none;
        padding: 0;
      }
    };
    &__tittle{
      font-family: "Playfair Display SC", serif;
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      padding-top: 40px;
      padding-bottom: 15px;
    };
    &__body{
      padding: 0;
      margin: 0;
      font-size: 11px;
    };
    &__newsletter-checkbox{
      font-size: 10px;
      margin-top: 10px;
      input{
        width: 12px;
        height: 12px;
        margin: 0;
        padding: 0;
      }
    };
  }
  &__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 20px;
    width: 100%;
    &--text{
      display: flex;
      p{
        padding-right: 15px;
        color: #d7d7d7;
        font-size: 12px;
      }
    };
    &--icon{
      display: flex;
      margin-left: auto;
    };
    &-lang{
      display: flex;
      color: white;
      font-size: 12px;
      outline: none;
    };
    &--social{
      padding-right: 80px;
      img{
        padding-left: 10px;
      }
    };
  }
}








